#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.canvasPage {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  color: black;
}

.canvas-parent-container {
  display: flex;
  flex-direction: row-reverse;
}

.canvasHolder {
  margin: 20px;

}

.canvas-parent-container .buttonContainer {
  align-self: flex-end;
  justify-self: center;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.buttonContainer button {
  margin: 10px;
}

/* Login Page */

form {
  width: 40%;
  margin: 20px auto;
  padding: 20px;

}

input {
  background-color: #FAF9F6;
  color: black;
}

label, h2 {
  color: #eeeee9;
  padding: 10px;
}


/* Submit button on login page */

.submit {
  width: 20%;
  padding: 10px;
  margin: 10px auto;

}

  /* rgb(125, 49, 1); */

