.login-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
    padding: 20px;
  }
  
  label, h2 {
    margin-bottom: 5px;
    font-weight: bold;
    color: #eeeee9;
    padding: 10px;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FAF9F6;
    color: black;
  }

  .submit {
    width: 20%;
    padding: 10px;
    margin: 10px auto;
    font-weight: 750;
    border: 4px solid rgb(125, 49, 1);
    background-image: linear-gradient(to right, #faba25, #f2653a);
    color: black;
  
  }
  
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #45a049;
    
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  