
.nav {
    margin: 0 0 15px 0;
    display: flex;
    background-color: rgb(194, 77, 4);
    flex-direction: row;
}

.link {
    margin: 10px;
    font-size: 30px;
    font-weight: 800;
    color: black;
}